<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <form method="POST" class="post-form" action="." enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">
            <br>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                    <h3>Candidate Details</h3>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Candidate Name:</label>
                <div class="col-sm-4">
                    <input type="text" class="cls_cand_name">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Address:</label>
                <div class="col-sm-4">
                    <input type="text" class="cls_cand_address">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">City:</label>
                <div class="col-sm-4">
                    <select class="cls_cand_city"></select>
                </div>
            </div>
            <div class="form-group row">
                 <label class="col-sm-2 col-form-label">Owner Info:</label>
                    <div class="col-sm-4">
                        <input type="text" class="cls_owner_info">
                    </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Employee Size:</label>
                    <div class="col-sm-4">
                        <input type="text" class="cls_employee_size">
                    </div>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                    <button class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </form>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" />
</body>
</html>