<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create/Update Candidate</title>
    {% load static %}
    <script src="{% static 'js/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/common/common.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/common/form_validation.js' %}"></script>
    <script src="{% static 'js/page/create_candidate.js' %}"></script>

    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet" />
    <link href="{% static 'css/jquery-confirm.min.css'%}" rel="stylesheet" />
    <link href="{% static 'css/main.css'%}" rel="stylesheet" />
    
</head>
<body>
    <form id="entry-form" > <!-- method="POST" class="post-form" action="."> -->
        {% csrf_token %}
        <div class="container">
            <br>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                    <h3>Candidate Details</h3>
                </div>
            </div>
            <div class="form-group row">
                {% if candidate.id %}
                <input type="hidden" id="candidate_id" class="cls_owner_info" value="{{ candidate.id}}">
                {% endif %}

                <label class="col-sm-2 col-form-label" for="candidate_name">Candidate Name:</label>
                <div class="col-sm-4">
                    <input type="text" id="candidate_name" name="candidate_name" class="form-control validate_form_input cls_required" value="{{ candidate.candidate_name }}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="address">Address:</label>
                <div class="col-sm-4">
                    <input type="text" id="address" name="address" class="form-control validate_form_input cls_required" value="{{ candidate.address}}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="country_id">Country:</label>
                <div class="col-sm-4">
                    <select class="form-control validate_form_input cls_required" id='country_id'   onchange="btn_country_click();">
                        <option value="">Please Select Country</option>
                        {% for country in country_list %}
                        <option value="{{ country.id }}" {% if candidate.city.country.id == country.id %} selected {% endif %}>{{ country.country_name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="city_id">City:</label>
                <div class="col-sm-4">
                    <select class="form-control validate_form_input cls_required"  id='city_id' name='city_id' >
                        <option value="">Please Select City</option>
                        {% if candidate.city.id %}
                            {% for city in city_list %}
                            <option value="{{ city.id }}" {% if candidate.city.id == city.id %} selected {% endif %}>{{ city.city_name}}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                 <label class="col-sm-2 col-form-label" for="owner_info">Owner Info:</label>
                    <div class="col-sm-4">
                        <input type="text" id="owner_info"  name="owner_info" class="form-control validate_form_input" value="{{ candidate.owner_info}}">
                    </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="employee_size">Employee Size:</label>
                    <div class="col-sm-4">
                        <input type="text" id="employee_size" name="employee_size" class="form-control validate_form_input cls_required cls_numeric_three only-numbers" maxlength="3" value="{{ candidate.employee_size}}">
                    </div>
            </div>
            
            <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-primary btn_save">Save</button>
                    <a class="cursor-p btn btn-danger" href="/candidate/">Cancel</a>
                </div>
            </div>
        </div>
    </form>
</body>
</html>
