

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Candidates Records</title>
    {% load static %}
    <script src="{% static 'js/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery/jquery-confirm.js' %}"></script>
    <script src="{% static 'js/data_table/datatables.min.js'%}"></script>

    <script src="{% static 'js/common/common.js' %}"></script>
    <!-- <script src="{ % static 'js/page/create_candidate.js' % }"></script> -->
    <script src="{% static 'js/page/show_candidate.js' %}"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="{% static 'css/jquery-confirm.min.css'%}" rel="stylesheet" />
    <link href="{% static 'css/datatables.min.css'%}" rel="stylesheet" />
    <link href="{% static 'css/main.css'%}" rel="stylesheet" />


<style type="text/css">
  .page-top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  tfoot {
    display: table-header-group;
  }
  {% if is_vendor == True %}
   #booking_table th,
   #booking_table td{
    white-space: nowrap;
   }
  {% endif %}
</style>
</head>
<body>
    <div class="container">
        <div class="row">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                     <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
                {% endfor %}
            </ul>
            {% endif %}
            <div class="col-12 booking-list-wrapper">
                <div class="table-responsive nicescroll" style="margin-bottom: 24px;">
                    <table id="booking_table" class="table listing-table expand_td w-100">
                        <thead>
                            <th name='candidate_name' >Candidate Name</th>
                            <th name='address' >Address</th>
                            <th name='city' >City</th>
                            <th name='owner_info' >Owner Info</th>
                            <th name='employee_size' >Employee Size</th>
                            <th name='actions' >Actions</th>
                        </thead>
                        <tfoot>
                          <tr>
                            <th><input class="form-control form-control-sm w-100" placeholder="Candidate Name" type="text" /></th>
                            <th><input class="form-control form-control-sm w-100" placeholder="Address" type="text" /></th>
                            <th><input class="form-control form-control-sm w-100" placeholder="City" type="text" /></th>
                            <th><input class="form-control form-control-sm w-100" placeholder="Owner Info" type="text" /></th>
                            <th><input class="form-control form-control-sm w-100" placeholder="Employee Size" type="text" /></th>
                              <th></th>
                          </tr>
                        </tfoot>
                        <tbody>
                        </tbody>
                   </table>
                   <div id="div_showing_bookings" class="col-12 d-flex justify-content-between align-items-center pagination_conatiner booking_table_bottom" style="">
                       <div class="row_count_container">
                            <!-- <span>Show</span> -->
                            <select class="form-control" name="page_size" id="no_of_booking_rows" onchange="bookingRowCountChange();" style="display: inline; height: 25px; padding: 0 5px; width: 75px;">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                            <span>Records</span>
                       </div>
                       <p class="m-0" >Showing bookings from <span id="booking_pageination_info"></span></p>
                       <div class="pagination">
                          <div class="previous" id="booking_previous_url"></div>
                          <div class="url-buttons"><span id="booking_url_buttons"></span></div>
                          <div class="next" id="booking_next_url"></div>
                       </div>
                  </div>
                </div>
            </div>

        </div>
    </div>
    <br><br>
    <center><a href="/candidate/new-candidate/" class="btn btn-primary">Add New Record</a></center>
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js" /> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" />

</body>
</html>