

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Candidates Records</title>
    {% load static %}
    <script src="{% static 'js/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery/jquery-confirm.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/data_table/datatables.min.js'%}"></script>

    <script src="{% static 'js/common/common.js' %}"></script>
    <!-- <script src="{ % static 'js/page/create_candidate.js' % }"></script> -->

    <script src="{% static 'js/common/common_pagination.js' %}"></script>
    <script src="{% static 'js/page/show_candidate.js' %}"></script>

    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet" />
    <link href="{% static 'css/jquery-confirm.min.css'%}" rel="stylesheet" />
    <link href="{% static 'css/datatables.min.css'%}" rel="stylesheet" />
    <link href="{% static 'css/main.css'%}" rel="stylesheet" />


<style type="text/css">
  .page-top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  tfoot {
    display: table-header-group;
  }

</style>
</head>
<body>
    <div class="container">
        <div class="col-12 text-right p-0" ><a href="/candidate/new-candidate/" class="btn btn-primary mt-4 mb-4">Add New Record</a></div>
        <div class="row mb-5">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                     <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
                {% endfor %}
            </ul>
            {% endif %}
            <div class="col-12 data-list-wrapper"> <!-- booking-list-wrapper -->
                <div class="table-responsive border nicescroll">
                    <table id="c_data_table" class="table listing-table m-0 expand_td w-100">
                        <thead>
                            <th name='candidate_name' >Candidate Name</th>
                            <th name='address' >Address</th>
                            <th name='city_name' >City</th>
                            <th name='owner_info' >Owner Info</th>
                            <th name='employee_size' >Employee Size</th>
                            <th name='actions' >Actions</th>
                        </thead>
                        <tfoot>
                          <tr>
                            <th><input class="form-control form-control-sm w-100" placeholder="Candidate Name" type="text" /></th>
                            <th><input class="form-control form-control-sm w-100" placeholder="Address" type="text" /></th>
                            <th><input class="form-control form-control-sm w-100" placeholder="City" type="text" /></th>
                            <th><input class="form-control form-control-sm w-100" placeholder="Owner Info" type="text" /></th>
                            <th></th><th></th>
                          </tr>
                        </tfoot>
                        <tbody>
                        </tbody>
                   </table>
                   <div id="div_showing_datas" class="col-12 pl-2 pr-0 pt-3 pb-3 d-flex justify-content-between align-items-center pagination_conatiner candidate_table_bottom" style="background-color: #84bfff21!important;">
                       <div class="row_count_container">
                            <!-- <span>Show</span> -->
                            <select class="form-control" name="page_size" id="no_of_candidate_rows" onchange="candidate_row_count_change();" style="display: inline; height: 25px; padding: 0 5px; width: 75px;">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                            <span>Records</span>
                       </div>
                       <p class="m-0" >Showing candidates from <span id="candidate_pageination_info"></span></p>
                       <div class="pagination">
                          <div class="previous" id="candidate_previous_url"></div>
                          <div class="url-buttons"><span id="candidate_url_buttons"></span></div>
                          <div class="next" id="candidate_next_url"></div>
                       </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
</body>
</html>